@charset "UTF-8";

body{
	background-color: #f9f9f9;
	margin: 0px auto;
	width: 90%;
	max-width: 1100px;
}

p, h1, h2, h3, h4, a, button, legend, form, label, input {
	font-family: alegreya sans;
}

#logo{
	width: 150px;
	padding: 25px;
	display: block;
	float: left;
}

#horzNav{
	display: none;
}

#menulink{
	width: 50px;
	padding: 75px 25px 25px 0;
	display: inline-block;
	float: right;
}

#navlinks {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	background-color: #000000;
	background-color: rgba(87,75,144,0.65);
	position: absolute;
	-webkit-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
	max-width: 1000px;
}

#navlinks.displayed {
	top: 283px;
	z-index: 1;
	width: 100%;
	max-width: 1000px;
}

#navlinks.start {
	display: none;
	max-width: 1000px;
}

#navlinks.collapsed {
	top: -10em;
	opacity: 0;
	max-width: 1000px;
}

#navlinks a{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}

#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
	color: #f5cd79;
}

.pageTitle{
	text-align: center;
	color: #303952;	
}

.content{
	clear: both;
	width: 100%;
}

p{
	padding: 10px;
}

footer{
	clear: both;
	background-color: #303952;
	padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 1em;
    text-align: center;
}

.footerButton{
	display: inline-block;
	border: none;
	padding: 2px;
	border-radius: 5px;
	color: #303952;
	background-color: white;
	font-size: 1em; 
}

footer a{
	text-decoration: none;
	color:inherit;
}

footer #humane{
	display: block;
	width: 180px;
	margin: auto;
	margin-top: 8px;
	padding: 2px;
	background-color: #f19066;
}

.footerButton:hover{
	background-color: #f5cd79;
}

footer #humane:hover{
	background-color: #f5cd79;
}

/*YOUR CODE BELOW HERE!*/

/*Index styles*/
.indexStyle .homeimage{
	text-align: left;
}

.responsiveImg {
	max-width: 100%;
	height: auto;
}

.info {
    text-align: left;
    text-decoration: none;
    color: ##303952;
    border: 20%;
    padding:5%;
}

.pricinglink {
    text-align: center;
}

.pricinglink a {
    text-decoration: none;
    color: #f19066;
}

.pricinglink a:hover {
    text-decoration: underline;
    color: dimgrey;
}

.interest {
    text-align: center;
}

.articles {
    list-style-type: none;
    text-align: center;
}

.articles li a {
    text-decoration: none;
    color: #f19066;
}

.articles li a:hover {
    text-decoration: underline;
    color: dimgrey;
}

/*about me styles*/
#bonnieImg {
	max-width: 80%;
	display: block;
	margin: auto;
}

.aboutContent>h1 {
	text-align: center;
	color: #303952;
}

.aboutContent article {
	width: 80%;
	padding: 5px;
	color: #303952;
	margin: auto;
}

.humanelink a {
    text-decoration: none;
    color: #f19066;
}

.humanelink a:hover {
    text-decoration: underline;
    color: dimgrey;
}

/*pricing styles*/
.pContent legend {
	font-size: 150%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #f19066;
	color: white;
}

.pContent form {
	padding: 5px 10px;
	margin: 10px auto;
	max-width: 100%;
	border-radius: 20px;
}

.pContent fieldset {
	border: 2px solid black;
	border-radius: 5px;
	color: black;
}

.pContent h3 {
	font-size: 120%;
}

.pContent input {
	display: inline-block;
	vertical-align: top;
}

.pContent .check input {
	padding-left: 50px;
}

.pContent label {
  	display: inline-block;
  	margin-bottom: 10px;
  	width: 40%;
}

.pContent .submitButton input {
	display: block;
	border: none;
	border-radius: 5px;
	font-size: 150%;
	color: white;
	background-color: #f19066; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.pContent .submitButton {
	border: none;
}

.column {
	column-width: 250px;
	column-gap: 25px;
}

.seal {
	display: block;
	width: 200px;
	float: right;
}

/*gallery styles*/
article {
	width: 100%;
	position: relative;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 100px;
}

#leftarrow, #rightarrow {
	background: #f19066;
	border-radius: 5px;
	color: white;
	position: absolute;
	z-index: 30;
	text-align: center;
	height: 40px;
	width: 30%;
	bottom: 100px;
}

article div:hover {
	cursor: default;
}

#leftarrow {
	left: 10%;
}

#rightarrow {
	right: 10%;
}

#leftarrow p, #rightarrow p {
	position: relative;
	top: 50%;
	margin-top: -1em;
}

#leftarrow p{
	transform: rotate(0deg);
}

#rightarrow p{
	transform: rotate(0deg);
	margin-top: -1em;
}

.clear {
	clear: both;	
}



figure img {
	width: 100%;
}

img{
	border-radius: 10px;
	
}

#Galerie {
	text-align: center;
	padding-top: 20px;
}


/*Put your desktop styles here*/
@media (min-width: 800px){
	html {
	background-image: url("images/pawTexture.png");
	background-size: 150px;
	
}
	body{
		width: 80%;
		margin: auto;
			box-shadow: 10px 10px 50px #333333,
				-10px 10px 50px #333333;
	}
	header{
		margin-right: 20px;
		margin-left: 20px;
		background-color: #f5cd79;
	}
	#logo{
		width: 135px;
	}
	#menulink{
		display: none;
	}
	#horzNav{
		display: block;
		float: right;
		margin-top: 80px;
		list-style-type: none;
	}
	#horzNav li{
		display: inline;
	}
	#horzNav li a{
		color: #f19066;
		font-size: 1.25em;
		font-variant: thin;
		padding: 6px 12px;
		text-decoration: none;
	}
	#horzNav li a:hover{
		color: #f5cd79;
	}
	
/*index desktop styles*/

	
/*Gallery Desktop Styles*/

#leftarrow {
	left: 15.5%;
}

#rightarrow {
	right: 15.5%;
}
	
#leftarrow:hover, #rightarrow:hover {
		cursor: pointer;	
}
figure img {
	width: 75%;
}
#leftarrow:hover, #rightarrow:hover {
	background-color: #303952;
	
}

/*about desktop styles*/
.aboutContent *{
	box-sizing: border-box;
}
.aboutContent .portrait {
	float: left;
	width: 40%;
	max-width: 50%;
}
.aboutme h1{
	text-align: left;
}
.aboutContent article {
	padding: 5px;
	float: right;
	width: 60%;
	color: #303952;
}


/*pricing desktop styles*/
.pContent form {
	padding: 5px 10px;
	margin: 10px auto;
	max-width: 100%;
	border-radius: 20px;
}

.pContent fieldset {
	border: 2px solid black;
	border-radius: 5px;
	color: black;
}

.pContent h3 {
	font-size: 120%;
}

.pContent input {
	display: inline-block;
}

.pContent .check input {
	padding-left: 50px;
}

.pContent label {
  	display: inline-block;
   	margin-bottom: 10px;
   	padding-left: 50px;
   	width: 20%;
}

.pContent form {
	clear: both;	
}

}
